/*
footer
*/
footer{

    position: relative;
    bottom:-9px;
    margin-top: 2.3em;
    position: relative;
    left: -6px;
    width: 124.79%;
    background-color: #fff;
}
.foo{
    display: flex;
    flex-direction: row;
}
.cn{
    font-family: Courgette,sans-serif;
    font-size: 2em;
    padding-top: 0.7em;
    padding-left: 2em;
    margin: 0px;
}
.img-footer{
    padding-left: 1em ;
    padding-top: 1.4em;
    padding-bottom: 0.5em;
}
@media  (max-width: 500px){
    .cn{
        font-family: Courgette,sans-serif;
        font-size: 1.3em;
        padding-top: 0.9em;
        padding-left: 0.5em;
        margin: 0px;
    }
    .img-footer{
        width: 25px;
        height: 25px;
        padding-left: 1em ;
        padding-top: 1.4em;
        padding-bottom: 0.5em;
    }
}